@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.cursor {
  display: inline-block;
  width: 10px; /* Adjust width to fit your design */
  animation: blink 1s step-start infinite;
  font-weight: bold;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}